@{
    ViewBag.Title = "Home Page";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="row" style="border:2px solid black; margin:0 auto; padding:20px;">
    <div>
        <form>
            <input type="text" id="Id" placeholder="Student_Id" />
            <br />
            <br />
            <input type="text" id="phone" placeholder="phone" />
            <br />
            <br />
            <input type="text" id="Name" placeholder="Name" />
            <br />
            <br />
            <input type="text" id="Email" placeholder="Email" />
            <br />
            <br />

            <input type="Button" onclick="BtnClick()" value="GetEmployeeData" />
            <br />
            <br />
            <input type="Button" onclick="PressClick()" value="Send_Data" />
            <br />
            <br />
            <input type="Button" onclick="UpdateClick()" value="Update_Data" />
            <br />
            <br />

        </form>
    </div>
</div>
<script>

    function BtnClick() {
        $.ajax({
            type: "GET",
            url: "http://localhost:11821/api/GetEmployeeData",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //  alert(JSON.stringify(data));
                $("#Table").html('');
                var DIV = '';

                $.each(data, function (i, item) {

                    var rows = "<tr>" +

                        "<td id='Name'>" + item.name + "</td>" +
                        "<td id='Emp_ID'>" + item.Emp_ID + "</td>" +
                        "<td id='Designation'>" + item.Designation + "</td>" +
                        "<td id='DOB'>" + item.DOB + "</td>" +
                        "<td id='Address'>" + item.Address + "</td>" +
                       //"<td>  <button class ='btn btn- primary' onclick = 'Delete(" + item.id + ")'> Delete </button> </td> " +
                        //"<td>  <button class ='btn btn- primary' onclick = 'Edit()'> Edit </button> </td> " +
                        "</tr>";
                    $('#Table').append(rows);
                }); //End of foreach Loop
                console.log(data);
            }, //End of AJAX Success function

            failure: function (data) {
                alert(data.responseText);
            }, //End of AJAX failure function
            error: function (data) {
                alert(data.responseText)
            } //End of AJAX error function

        });
    };
</script>