<h1>Employee Data</h1>
<form>
 <input type="text" name="user" placeholder="Enter Your Name">
 <br><br>

 <input type="date" name="user" placeholder="Enter Your DOB">
 <br><br>

 <input type="text" name="user" placeholder="EMP ID">
 <br><br>

 <input type="text" name="user" placeholder="Designation">
 <br><br>

 <input type="text" name="user" placeholder="Salary">
 <br><br>

 <input type="text" name="user" placeholder="Address">
 <br><br>

  <!-- Submit button is for POST API -->
 <button>Submit</button>  
 <button>Clear</button>  
</form>